nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: sans-serif;
  background-color: #ffeeda;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-link {
  font-size: 6vh;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.nav-section-right {
  display: flex;
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: #646464;
  font-size: 1.6rem;
  font-weight: 600;
}

.home-container {
  height: 100vh;
  width: 100%;
  background-color: FFF7ED;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.316);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 100px;
}

.hero-title {
  color: rgb(250, 208, 129);
  font-family: sans-serif;
  font-size: 6em;
  line-height: 120px;
  margin-left: 9em;
  margin-top: 2vh;
}

.home-container p {
  font-size: 1.5em;
  padding: 2em;
  text-align: center;
  font-family: sans-serif;
  position: absolute;
  bottom: 90px;
  right: 10px;
  left: 10px;
  color: white;
}

.home-container a {
  position: absolute;
  right: 50px;
  bottom: 250px;
  background-color: #ff8c38;
  width: 400px;
  height: 5vh;
  text-indent: 5em;
  border-radius: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px;
}

.about-container {
  background-color: #ffeeda;
  height: 50vh;
  width: 100%;
  display: flex;
}

.cta {
  margin: 2vh 0;
  width: 60%;
}
.cta h1 {
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 500;
  margin-bottom: 5vh;
  padding: 15px;
  font-family: 
}

.cta p {
  font-size: 1.1em;
  margin: 5vh 0;
  padding: 15px;
}

.cta-btn {
  padding: 15px 40px;
  background-color: #ff8c38;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2.5rem;
  margin: 10vh 10vh;
}

.cta h2 {
  margin-bottom: 5vh;
}



.container-right {
  height: 100%;
  width: 40%;
  margin: 0;
  padding: 0;
}

.container-right-img1 {
  height: 50vh;
  width: 100%;
}
.container-right-img2 {
  height: 50vh;
  width: 50%;
}