* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #fff7ed;

}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 1009;
  margin-bottom: 2vh;
}
